.section__under-header {
  .text-wrap-box {
    background: #000;
  }

  .section__under-header_content_title {
    color: var(--text-color-white);
  }

  .section__under-header_content {
    color: var(--text-color-light);
  }
}