@import "abstracts/index";
@import "layout";

@import "./components/header.scss";
@import "./components/buttons.scss";

@import "./components/underheader.scss";
@import "./components/beautiful-stories.scss";
@import "./components/gallery.scss";
@import "./components/advantages.scss";
@import "./components/footer.scss";


body {
  //background: red;
}


.section {

  .text-wrap-box {
    padding: 72px 0;
  }

  .section-title {
    margin-bottom: 16px;
  }

  .section-content {
    margin-bottom: 23px;
  }

  &.photo-line {
    .image-wrap-box {
      position: relative;

      &:after {
        @include color-img-line;
        height: 6px;
        left: 33px;
        bottom: -6px;
        bottom: 0;
      }
    }
  }
}

.section-dark {
  .text-wrap-box {
    background: #000;
  }
}